<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bastien.calculateurexp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CalculExp"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CalculDegat"
            android:label="@string/title_activity_calcul_degat" >
        </activity>
        <activity
            android:name=".MesPersonnages"
            android:label="@string/title_activity_mes_personnages" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeuillePerso"
            android:label="@string/title_activity_creation_personnage"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CalculDegatPersonnage"
            android:label="@string/title_activity_calcul_degat_personnage" >
        </activity>
    </application>

</manifest>
